
<%= link_to  team_path(team), class: "league_links"  do %>
   <img src="<%=team.logo_url%>" class="team-image"/>
    <p>
      <strong><%= team.fc %></strong> -----
      <strong>Stadium: <%= team.stadium %></strong>
    </p>
<%end%>





