<% @leagues.each do |league| %>
    <h3  style="text-align: center;"> <strong><%= league.name %></strong> </h3>
    <%league.teams.each do |team|  %>
      <%= render "team_link", team: team %>
    <% end %>
<% end %>

<h3 style="text-align: center"> Teams with no league </h3>

<% @teams.each do |team| %>
    <% if team.leagues.length == 0 %>
        <%= render "team_link", team: team %>
    <% end %>
<% end %>