<% if session[:user_id] %>
  <%= link_to('Add new game',new_game_path, class: "standar_links", style: "margin-top: 1rem;")%> 
<% end %>
<section>
<% @games.each { |game| %>
    <%= render game %>
<% }%>
</section>
