<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Edit this game", edit_game_path(@game),  class: "standar_links" %> |
  <%= link_to "Back to games", games_path %>
</div>