/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .team-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173);
 }

 .standar-input{
  height: 20px;
  font-size: 16px;
  width: 90%;
  max-width: 600px;
 }

 .standar-button{
    height: 30px;
    color: black;
    margin: 1rem;
    cursor: pointer;
    width: 10rem;
    background-color: white;
    border-width: 1px;
    margin: 1rem;
 }

 .standar-button:hover{
    opacity: 1;
    background-color: whitesmoke;
 }

 .standar-button:active{
    background-color: #263E57;
    color: white
 }


 .back-button{
    display: block;
    background-color: #263E57;
    height: 30px;
    width: 8rem;
    color: white;
    text-decoration: none;
    text-align-last:center;
    text-align: center;
    line-height: 28px;
    opacity: .8;
    margin-left: 1rem;
 }
 .standar_links{
    display: block;
    background-color: #263E57;
    height: 30px;
    width: 8rem;
    color: white;
    text-decoration: none;
    text-align-last:center;
    text-align: center;
    line-height: 28px;
    opacity: .8;
    margin-left: 1rem;
 }

 .standar_links:hover{
    opacity: 1
 }


 .back-button:hover{
    opacity: 1
 }

 .errors-container{
    height: 10rem;
 }

 .field_with_errors{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap:wrap-reverse;
    width: 100%;
 }



@media screen and (min-width: 700px) {
    .nav-bar{
        background-color: #263e57;
        height: 50px;
        text-decoration: none;
        align-content: center;
    }
    
     .nav-bar-list{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        gap: 1rem;
        list-style-type: none;
     }

     .nav-bar-link{
        color: white;
        text-decoration: none;
        opacity: .8;
        transition: .3s;
     }
    
     .nav-bar-link:hover{
        opacity: 1;
     } 
     #nav-bar-x{
        display: none;
      }
}


@media screen and (max-width: 700px) {

    #nav-bar-x{
        width: 40px;
        filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
    }
      
    .nav-button-active{
        top: 0px;
        margin-right: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
        background-color: #263e57;
        width: 50px;
        height: 40px;
        border-radius: .5rem;
        border: solid;
        border-color: white;
        border-width: 1px;
        right: 0;
        opacity: .6;
        z-index: 20;
        position: fixed;
      }
      
      .nav-button{
        position: absolute;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #263e57;
        width: 50px;
        height: 40px;
        border-radius: .5rem;
        border: solid;
        border-color: #4e6fc9;;
        border-width: 1px;
        opacity: .8;
        z-index: 20;
        right: 10px;
        top: 4px;
      }
      
      .nav-button-active:hover{
        opacity: 1;
      }
      .nav-button-active:active{
        border-width: 3px;
      }
      
      .nav-button:hover{
        opacity: 1;
      }
      .nav-button:active{
        border-width: 3px;
      }
      
      .nav-button-line{
        margin: 4px;
        width: 60%;
        background-color: white;
        height: 2px;
        border-radius: .5rem;
      }
      
      .nav-button-line{
        margin: 4px;
        width: 60%;
        background-color: white;
        height: 2px;
        border-radius: .5rem;
      }
      
      /* #nav-bar-x{
        width: 40px;
        filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
      }
       */
      .button-container{
        width: 100%;
      }
      
      .profile-inf{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
      }
      
      .nav-bar ul{
        list-style-type: none;
        margin-top: 20px;
      }
      
      .profile-image{
        margin: 10px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

    .nav-bar{
        width: 100%;
        min-height: 50px;
        background-color: #263e57;
        text-decoration: none;
        align-content: center;
    }
    
    .nav-bar-list{
        display: flex;
        position: absolute;
        width: 100%;
        height: 220px;
        background-color: #263e57;
        flex-direction: column;
        text-decoration: none;
        gap: 1rem;
        list-style-type: none;
        z-index: 10;
     }

     .nav-bar-link{
        color: white;
        text-decoration: none;
        opacity: .8;
        transition: .3s;
     }
    
     .nav-bar-link:hover{
        opacity: 1;
     } 
     .hide {
        display: none;
    }


}
  




 .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 450px;
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173);
    margin: auto;
 }

 .login-field{
    max-width: 250px;
 }



 .links-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    
 }

 .delete-buttons{
    cursor: pointer;
    background-color: #b92b27;
    color: white;
    margin-left: 1rem;
    border-width: 0px;
    transition: .3s;
    opacity: .8;
 }

 .delete-buttons:hover{
    opacity: 1;
 }



 .league_links{
    display: flex;
    background-color: #2997ff;
    height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 49px;
    opacity: .8;
    margin: auto;
    box-sizing: border-box;
    padding-left: 1rem;
 }

 .league_links:hover{
    opacity: 1
 }

 .create-link-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

 }

 .teams-container{

    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 .team-image{
    width: 50px;
    height: 50px;
 }

 .standar-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 450px;
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173);
    margin: auto;
 }

.footer{
    height: 200px;
    width: 100%;
}


.box-shadow{
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173);
    margin: 1rem;
}

.blue-btn{
    background-color: #2997ff;
    height: 30px;
    color: black;
    margin: 1rem;
    cursor: pointer;
    width: 15rem;
    border-width: 1px;
    opacity: .8;
}

.blue-btn:hover{
    opacity: 1;
}

.blue-btn:active{
    background-color: #263E57;
    color: white
 }

 .card-header{
    color: white;
    background-color: #00563B;
    text-align: center;
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173);
    /* height: 100px; */
    /* line-height: 40px; */
 }
 .card{
    /* background-color: #17B169; */
    background-color:#4D5D53;
    max-height: 500px;
    margin-bottom: 2rem;
    gap:1rem;
 }

 .select-winner{
    display: flex;
    align-items: center;
    align-content: center;
   flex-wrap: wrap;
   max-width: 550px;
   margin: auto;
 }

 .delete{
   background-color: #b92b27;
   color: white;
   opacity: .8;

 }
 .delete:hover{
    background-color: #b92b27;
    color: white;
    opacity: 1;
 }

 .standar-form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px 0px rgb(176, 173, 173);
 }

 .display-lines{
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
 }

 .flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
 }

 .team-inf{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    align-content: center;
 }

 .team-card{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
 }