<section class="nav-bar">
 <ul class="nav-bar-list">
   <li><%=link_to "Games" ,games_path, :class=>"nav-bar-link" %> </li>
   <li><%=link_to "Teams" ,teams_path , :class=>"nav-bar-link" %></li>
   <li><%=link_to "Create new game" ,new_game_path, :class=>"nav-bar-link" %> </li>
   <li><%=link_to "Create new Team" ,new_team_path , :class=>"nav-bar-link" %></li>
 </ul>
</section>